body{
    margin: 0;
    padding: 0;
    /*background-color: rgb(50, 100, 30);*/
    /*background-color: hsl(30, 80%, 60%);*//*we have the chromatic circle as a refence*/
    background-color: rgb(12, 88, 88);

    /*PAY ATTENCTION*/
    /*we also have alpha between zero and one, it is the fourth position and indicates transparency, the greater the alpha, the greater the transparency, if it's smaller, the more opaque it gets, but we won't to use it now */
}

#footer {
    display: flex;
    justify-content: right;
    background-color: lightgray;
}

.footer {
    margin-right: 20px;   
    color: black;
}

input[readonly] {
    background-color: saddlebrown;
}/*Seletores de Atributos*/

a:active{
    color: yellow;
} /*Pseudo-classes*/ 

input:checked + a{
    color: red;
}

h1:empty{
    border: blue solid 8px;
}

input:disabled{
    background-color: beige;
}

input:focus{
    background-color: blue;
}

a:hover{
    border: blue solid 2px;
    border-radius: 10px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: larger;
    /*width: 50em; relation to font*/
    /*width: 50%; related to available size */
    /*width: 10rem; related to root element size*/
    width: 90vw; /*view port width*/
    height: 10vh; /*view port height*/
}

.calc {
    display: inline-block;
    width: calc(90% / 3);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*
cm - centímetros ( 96px / 2.54 );
mm - milímetros ( 1/10cm );
q - ¼ de milímetro ( 1/40cm );
in - polegadas ( 2,54cm = 96px );
pc - pica ( 12pt ou 1/6in );
px - pixels ( 1/96in );
pt - pontos ( 1/71in ).
*/

#txts {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    text-align: justify;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 2px 2px 0px red;

    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 120%;
    word-break: break-all;
    white-space: pre-wrap;

}

/*@font-face {
    font-family: ;
    src: url();
} it's our own font in coding, we need download and put in, it can be use in all devices and is a good way*/

body{
    font-family: 'Roboto Mono', monospace;/*Extern font, we need add the main link on index page */
}